<!doctype html>
<html lang="en-US">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XWNEMSQ1Z2"></script>
    
    <script data-ad-client="ca-pub-5742933487033964" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#000000" />
    <meta name="csrf-token" content="qPufHWqiCYaSSKsutQ09KGBKZzie0F2JhKpP14Ef">
    <link rel="manifest" href="https://mitul.ktgamez.com/manifest.webmanifest">
    <link rel="apple-touch-icon" href="images/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="images/touch-icon-ipad-retina.png">
    <!-- Favicon-->
    <link rel="shortcut icon" href="..//images/KTGamez-512.png">
    <link rel="icon" type="image/png" href="../images/KTGamez-512.png">
    <!--Title & Meta-->
    <title>Free Play Online Game | Online Games Multiplayer | KT Gamez powered by Giro Gamez </title>
    <meta name="description" content="Play free online games at KT Gamez powered by Giro Gamez, the best place to play high-quality browser games. We add new games chess Games, poki games, Google dinosaur game & games to play with friend etc, every day. Have fun! ">
    <meta name="keywords" content="online games multiplayer, free play online game, the best online games, best online free games, google dinosaur game, subway surfers online, games to play with friend, free game to play, online chess Games, online poki games">
        
    <link rel="stylesheet" href="https://mitul.ktgamez.com/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://mitul.ktgamez.com/css/typography.css">
    <link rel="stylesheet" href="https://mitul.ktgamez.com/css/style.css?v=1">
    <link rel="stylesheet" href="https://mitul.ktgamez.com/css/responsive.css">


        
    

</head>

<body>
    <script type="text/javascript">
        (function(a, b, c, d) {
            a = 'https://tags.tiqcdn.com/utag/khaleejtimes/ktgamez/prod/utag.js';
            b = document;
            c = 'script';
            d = b.createElement(c);
            d.src = a;
            d.type = 'text/java' + c;
            d.async = true;
            a = b.getElementsByTagName(c)[0];
            a.parentNode.insertBefore(d, a);
        })();
    </script>
    <!-- Header -->
    <style>

  


li:hover {
	
	cursor: pointer;
}

ul li ul {
	background: black;
	 visibility: hidden;
  opacity: 0; 
	position: absolute;
  transition: all 0.20s ease;
 
	left: 0;
   display: none; 
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
	clear: both;
  width: 100%;
}
@media (max-width: 991px)
{.my
{ margin-top: 35px !important;
   margin-left: 90px !important;
   margin-right: 0px !important;
   
   line-height: 0px !important; 
   visibility: none !important;
    overflow-x:visible;
}
}

</style>


<header id="main-header">
    <div class="main-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <nav class="navbar navbar-expand-lg navbar-light p-0">
                        <a href="#" class="navbar-toggler c-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <div class="navbar-toggler-icon" data-toggle="collapse">
                                <span class="navbar-menu-icon navbar-menu-icon--top"></span>
                                <span class="navbar-menu-icon navbar-menu-icon--middle"></span>
                                <span class="navbar-menu-icon navbar-menu-icon--bottom"></span>
                            </div>
                        </a>
                        <a class="navbar-brand" href="https://mitul.ktgamez.com"> <img class="img-fluid logo" src="https://mitul.ktgamez.com/images/KTgamez.png" alt="KT Gamez" /> </a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div class="menu-main-menu-container">
                                <ul id="top-menu" class="navbar-nav ml-auto">
                                    <li class="menu-item d-block d-md-block d-lg-none">
                                        <a href="#" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="closenav" class="text-right">
                                            <i class="fa fa-times" aria-hidden="true" style="font-size: 20px;"></i>
                                        </a>
                                    </li>
                                    <li class="menu-item" id="home-link">
                                        <a href="https://mitul.ktgamez.com">Home</a>
                                    </li>
                                    
                                     <li class="menu-item">
                                        <div class="dropdown show iq-sub-dropdown">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              Play n Win
                                            </a>
                                          
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="background-color:#000000;">
                                              <a class="dropdown-item" href="https://mitul.ktgamez.com/playnwin" style="color: #ffffff;">Games</a>
                                              <a class="dropdown-item" href="https://mitul.ktgamez.com/leaderboard" style="color: #ffffff;">Leaderboard</a>
                                              <a class="dropdown-item" href="/faq" style="color: #ffffff;">FAQ</a>
                                            </div>
                                          </div>
                                    </li>
                                    <li class="menu-item" id="home-link">
                                        <a href="/esports">Esports</a>
                                    </li>
                                    <li class="menu-item">
                                        <div class="dropdown show iq-sub-dropdown">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLinkGenres" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              Play
                                            </a>   
                                            <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="dropdownMenuLinkGenres" style="background-color:#000000;">
                                                                                          
                                            </div>
                                          </div>
                                    </li> 

                                     <li class="menu-item">
                                                                             </li>  
                                </ul>
                            </div>
                        </div>
                        <!--Mobile Menu-->
                        <div class="mobile-more-menu">
                            <a href="javascript:void(0);" class="more-toggle" id="dropdownMenuButton" data-toggle="more-toggle" aria-haspopup="true" aria-expanded="false">
                                <i class="ri-more-line"></i>
                            </a>
                            <div class="more-menu" aria-labelledby="dropdownMenuButton">
                                <div class="navbar-right position-relative">
                                    <ul class="d-flex align-items-center justify-content-end list-inline m-0">
                                        <li>
                                            <a href="#" class="search-toggle">
                                                <i class="ri-search-line"></i>
                                            </a>
                                            <div class="search-box iq-search-bar">

                                                <div class=" position-relative">
                                                    <input type="text" class="text search-input font-size-12" placeholder="type here to search..." id="mobile-search">

                                                </div>

                                                <div class="iq-sub-dropdown">
                                                    <div class="iq-card shadow-none m-0">
                                                        <div class="iq-card-body" id="mobile-search-result">

                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </li>
                                        
                                                                                
                                        <li>

                                            <a href="#" class="iq-user-dropdown search-toggle d-flex align-items-center">
                                                <i class="fa fa-user-circle text-primary"></i>
                                            </a>
                                            <div class="iq-sub-dropdown iq-user-dropdown">
                                                <div class="iq-card shadow-none m-0">
                                                    <div class="iq-card-body p-0 pl-3 pr-3">


                                                        <a href="https://mitul.ktgamez.com/login" class="iq-sub-card setting-dropdown">
                                                            <div class="media align-items-center">
                                                                <div class="right-icon">
                                                                    <i class="fa fa-user-plus text-primary"></i>
                                                                </div>
                                                                <div class="media-body ml-3">
                                                                    <h6 class="mb-0 ">Login / Signup</h6>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Desktop Menu-->
                        <div class="navbar-right menu-right">
                            <ul class="d-flex align-items-center list-inline m-0">

                                <li class="nav-item nav-icon">
                                    <a href="#" class="search-toggle device-search">
                                        <i class="ri-search-line"></i>
                                    </a>
                                    <div class="search-box iq-search-bar d-search">
                                        <div action="#" class="searchbox">
                                            <div class="position-relative">
                                                <input type="search" autocomplete="off" class="text search-input font-size-12" placeholder="type here to search..." id="pc-search">
                                                <i class="search-link ri-search-line"></i>
                                            </div>
                                        </div>
                                        <div class="iq-sub-dropdown">
                                            <div class="iq-card shadow-none m-0">
                                                <div class="iq-card-body" id="search-result">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </li>

                                                                                                <li class="nav-item nav-icon">
                                    <a href="#" class="iq-user-dropdown search-toggle p-0 d-flex align-items-center" data-toggle="search-toggle">
                                        <i class="fa fa-user-circle text-primary"></i>
                                    </a>
                                    <div class="iq-sub-dropdown iq-user-dropdown">
                                        <div class="iq-card shadow-none m-0">
                                            <div class="iq-card-body p-0 pl-3 pr-3">
                                                <a href="https://mitul.ktgamez.com/login" class="iq-sub-card setting-dropdown">
                                                    <div class="media align-items-center">
                                                        <div class="right-icon">
                                                            <i class="fa fa-user-plus text-primary"></i>


                                                        </div>
                                                        <div class="media-body ml-3">
                                                            <h6 class="mb-0 ">Login / Signup</h6>
                                                        </div>
                                                    </div>
                                                </a>
                                                


                                            </div>
                                        </div>
                                    </div>
                                </li>
                                                            </ul>
                        </div>
                    </nav>
                    <div class="nav-overlay"></div>
                </div>
            </div>
        </div>
    </div>
</header>    <!-- Header End -->
    <!-- Page Content Start-->
    <!-- MainContent -->
<section class="sign-in-page">
   <div class="container">
      <div class="row justify-content-center align-items-center height-self-center">
         <div class="col-lg-5 col-md-12 align-self-center">
            <div class="sign-user_card ">                    
               <div class="sign-in-page-data">
                  <div class="sign-in-from w-100 m-auto">
                     <h3 class="mb-3 text-center" style="color: #000000 !important;">Reset Password</h3>
                     

        

        


                     <p class="mb-3 text-center" style="color: #000000 !important;" >Enter your email address and we'll send you an email with instructions to reset your password.</p>
                     <form class="mt-4" method="POST" action="https://mitul.ktgamez.com/forgot-password">
            <input type="hidden" name="_token" value="qPufHWqiCYaSSKsutQ09KGBKZzie0F2JhKpP14Ef">                        <div class="form-group">                                 
                           <input type="email" class="form-control mb-0"id='email' name="email" :value="old('email')" required autofocus  style="color: #000000 !important;">
                        </div>                           
                        <div class="sign-info">
                           <button type="submit" class="btn btn-hover">Reset</button>                                                            
                        </div>                                       
                     </form>
                  </div>
               </div>                    
            </div>
         </div>
      </div>
      <!-- Sign in END -->
      <!-- color-customizer -->
   </div>
</section>
<!-- MainContent End-->
    <!--Page Content End-->
    <!-- Footer Start -->
    <footer class="mb-0">
        <div class="container-fluid">
            <div class="block-space">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <ul class="f-link list-unstyled mb-0">
                            <li><a href="/aboutus">About Us</a></li>
                            <li><a href="/privacy-policy">Privacy Policy</a></li>

                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <ul class="f-link list-unstyled mb-0">

                            <li><a href="/terms-conditions">Terms & Conditions</a></li>
                            <li><a href="/disclaimer">Disclaimer</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <ul class="f-link list-unstyled mb-0">

                            <li><a href="/play-and-win-terms-conditions">Play and Win Terms & Conditions</a></li>
                            <li><a href="/faq">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <ul class="f-link list-unstyled mb-0">

                            <li><a href="mailto: cs@girogamez.com">Contact Us : bd@girogamez.com</a></li>
                            <li><a href="/cookies-policy">Cookies Policy</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="copyright py-2">
            <div class="container-fluid">
                <p class="mb-0 text-center font-size-14 text-body">KT Gamez - &copy; 2021 All Rights Reserved. Powered by <a href="https://girofintech.com" target="_blank">GiroFintech LTD</a> DIFC, Dubai, UAE </p>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- back-to-top -->
    <div id="back-to-top">
        <a class="top" href="#top" id="top"> <i class="fa fa-angle-up"></i> </a>
    </div>
    <!-- Scripts -->
        <!-- back-to-top End -->
    <!-- jQuery, Popper JS -->
    <script src="https://mitul.ktgamez.com/js/jquery-3.4.1.min.js"></script>
    <script src="https://mitul.ktgamez.com/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://mitul.ktgamez.com/js/bootstrap.min.js"></script>
    <!-- Slick JS -->
    <script src="https://mitul.ktgamez.com/js/slick.min.js"></script>
    <!-- owl carousel Js -->
    <script src="https://mitul.ktgamez.com/js/owl.carousel.min.js"></script>
    <!-- select2 Js -->
    <script src="https://mitul.ktgamez.com/js/select2.min.js"></script>
    <!-- Magnific Popup-->
    <script src="https://mitul.ktgamez.com/js/jquery.magnific-popup.min.js"></script>
    <!-- Slick Animation-->
    <script src="https://mitul.ktgamez.com/js/slick-animation.min.js"></script>
    <!-- Custom JS-->
    <script src="https://mitul.ktgamez.com/js/custom.js?v=3"></script>
    <!-- PWA JS-->
    <script src="https://mitul.ktgamez.com/index.js"></script>





    
    
</body>

</html>