<!doctype html>
<html lang="en">
<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>GiroGamez Superadmin Panel - KT Gamez powered by GiroGames</title>
   <!-- Favicon -->
   <link rel="shortcut icon" href="../images/KTGamez-512.png" />
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="../css/bootstrap.min.css">
   <!--datatable CSS -->
   <link rel="stylesheet" href="../css/dataTables.bootstrap4.min.css">
   <!-- Typography CSS -->
   <link rel="stylesheet" href="../css/typography.css">
   <!-- Style CSS -->
   <link rel="stylesheet" href="../css/style.css">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="../css/responsive.css">
</head>
<body>
   <!-- loader Start -->
   <div id="loading">
      <div id="loading-center">
      </div>
   </div>
   <!-- loader END -->
   <!-- Wrapper Start -->
   <div class="wrapper">
      <!-- Sidebar-->
      <div class="iq-sidebar">
         <div class="iq-sidebar-logo d-flex justify-content-between">
            <a href="../superadmin/" class="header-logo">
               <img src="../images/KTgamez.png" class="img-fluid rounded-normal" alt="">
               <div class="logo-title">
               </div>
            </a>
            <div class="iq-menu-bt-sidebar">
               <div class="iq-menu-bt align-self-center">
                  <div class="wrapper-menu">
                     <div class="main-circle"><i class="las la-bars"></i></div>
                  </div>
               </div>
            </div>
         </div>
         <div id="sidebar-scrollbar">
            <nav class="iq-sidebar-menu">
               <ul id="iq-sidebar-toggle" class="iq-menu">
                  <li><a href="https://mitul.ktgamez.com/" class="text-primary"><i class="ri-arrow-right-line"></i><span>Visit site</span></a></li>
                  <li class="active active-menu"><a href="../superadmin/" class="iq-waves-effect"><i class="las la-home iq-arrow-left"></i><span>Dashboard</span></a></li>
                  <li>
                    <a href="#genre" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="las la-list-ul"></i><span>Genre</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="genre" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                       <li><a href="genrecreate"><i class="las la-plus"></i>Add Genre</a></li>
                       <li><a href="genreview"><i class="las la-eye"></i>Genre List</a></li>
                    </ul>
                 </li>
                 <li>
                    <a href="#games" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="las la-gamepad"></i><span>Games</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="games" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                       <li><a href="gamecreate"><i class="las la-dice"></i>Add Game</a></li>
                       <li><a href="game"><i class="las la-eye"></i>Game List</a></li>
                    </ul>
                 </li>
                 <li>
                    <a href="#leaderboard_game" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i
                       class="las la-gamepad"></i><span>Leaderboard games</span><i
                       class="ri-arrow-right-s-line iq-arrow-right"></i>
                    </a>
                    <ul id="leaderboard_game" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                       <li><a href="competecreate"><i class="las la-user-plus"></i>Add Game</a></li>
                       <li><a href="compete"><i class="las la-eye"></i>Game List</a></li>
                    </ul>
                 </li>
                 <li>
                    <a href="#genre_slider" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i
                       class="las la-gamepad"></i><span>Genre Slider</span><i
                       class="ri-arrow-right-s-line iq-arrow-right"></i>
                    </a>
                    <ul id="genre_slider" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                       <li><a href="#"><i class="las la-user-plus"></i>View All</a></li>
                    </ul>
                 </li>
                 <li><a href="" class="iq-waves-effect"><i class="las la-bookmark iq-arrow-left"></i><span>Trending slider</span></a></li>
                  <li><a href="" class="iq-waves-effect"><i class="las la-star-half-alt"></i><span>Rating </span></a></li>
                  <li><a href="" class="iq-waves-effect"><i class="las la-comments"></i><span>Comment</span></a></li>
                  <li>
                    <a href="#playandwin" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i
                       class="las la-gamepad"></i><span>Play & Win</span><i
                       class="ri-arrow-right-s-line iq-arrow-right"></i>
                    </a>
                    <ul id="playandwin" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                       <li><a href=""><i class="las la-user-plus"></i>Winner</a></li>
                    </ul>
                 </li>
                 <li>
                    <a href="#referandwin" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i
                       class="las la-hand-holding-usd"></i><span>Refer & Win</span><i
                       class="ri-arrow-right-s-line iq-arrow-right"></i>
                    </a>
                    <ul id="referandwin" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                       <li><a href="leaderboard"><i class="las la-user-plus"></i>Refer Winner</a></li>
                       
                    </ul>
                 </li>
                 <li><a href="user" class="iq-waves-effect"><i class="las la-user-friends"></i><span>User</span></a></li>
                 <li><a href="settings" class="iq-waves-effect"><i class="las la-cogs iq-arrow-left"></i><span>Settings </span></a></li>
                 <li><a href="" class="iq-waves-effect"><i class="las la-sign-out-alt"></i><span>Logout</span></a></li>
               </ul>
            </nav>
         </div>
      </div>
      <!-- TOP Nav Bar -->
      <div class="iq-top-navbar">
         <div class="iq-navbar-custom">
            <nav class="navbar navbar-expand-lg navbar-light p-0">
               <div class="iq-menu-bt d-flex align-items-center">
                  <div class="wrapper-menu">
                     <div class="main-circle"><i class="las la-bars"></i></div>
                  </div>
                  <div class="iq-navbar-logo d-flex justify-content-between">
                     <a href="../superadmin/" class="header-logo">
                        <img src="../assets/images/logo.png" class="img-fluid rounded-normal" alt="">
                        <div class="logo-title">
                           <span class="text-primary text-uppercase">KTGamez</span>
                        </div>
                     </a>
                  </div>
               </div>
               
            </nav>
         </div>
      </div>
      <!-- TOP Nav Bar END -->