<%- include("header") -%>
<!-- Page Content  -->
<div id="content-page" class="content-page">
    <div class="container-fluid">
       <div class="row">
          <div class="col-sm-12">
             <div class="iq-card">
                <div class="iq-card-header d-flex justify-content-between">
                   <div class="iq-header-title">
                      <h4 class="card-title">User Lists</h4>
                   </div>
                   
                </div>
                <div class="iq-card-body">
                   <div class="table-view">
                    <table class="data-tables table movie_table dataTable no-footer" style="width: 100%;" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                        <thead>
                            <tr role="row"><th style="width: 20px;" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="No: activate to sort column descending">No</th><th style="width: 54px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Profile: activate to sort column ascending">Profile</th><th style="width: 48px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Name</th><th style="width: 63px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Contact: activate to sort column ascending">Contact</th><th style="width: 194px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending">Email</th><th style="width: 63px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Country: activate to sort column ascending">Country</th><th style="width: 50px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Status</th><th style="width: 41px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Join Date: activate to sort column ascending">Join Date</th><th style="width: 50px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">Action</th></tr>
                        </thead>
                        <tbody>

                        <tr role="row" class="odd">
                            <td class="sorting_1">1</td>
                                <td>
                                                                                <img src="https://mitul.ktgamez.com/images/avatar.png" class="img-fluid avatar-50" alt="parthvi">
                                                                            </td>
                                <td>parthvi</td>
                                <td>-</td>
                                <td>parthvi@girofintech.com</td>
                                <td>-</td>
                                <td><span class="badge iq-bg-success">Active</span></td>
                                <td>22-03-2022 16:03:24</td>
                                <td>
                                    <div class="flex align-items-center list-user-action">
                                    <form action="https://mitul.ktgamez.com/superadmin/user/4" method="POST" class="form-delete" style="display: inline;" id="delete_user_4">
                                            <input type="hidden" name="_token" value="cSP7Wf16AXALdbr7xSdv8frDV9RrVJqsnnLZ5Ez1">                                                    <input type="hidden" name="_method" value="DELETE">                                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="javascript:$('#delete_user_4').submit();"><i class="ri-delete-bin-line"></i></a>
                                    </form>
                                    </div>
                                </td>
                            </tr><tr role="row" class="even">
                            <td class="sorting_1">2</td>
                                <td>
                                                                                <img src="https://mitul.ktgamez.com/images/avatar.png" class="img-fluid avatar-50" alt="Parthvi">
                                                                            </td>
                                <td>Parthvi</td>
                                <td>-</td>
                                <td>parthvi123@girofintech.com</td>
                                <td>-</td>
                                <td><span class="badge iq-bg-success">Active</span></td>
                                <td>24-03-2022 14:43:19</td>
                                <td>
                                    <div class="flex align-items-center list-user-action">
                                    <form action="https://mitul.ktgamez.com/superadmin/user/5" method="POST" class="form-delete" style="display: inline;" id="delete_user_5">
                                            <input type="hidden" name="_token" value="cSP7Wf16AXALdbr7xSdv8frDV9RrVJqsnnLZ5Ez1">                                                    <input type="hidden" name="_method" value="DELETE">                                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="javascript:$('#delete_user_5').submit();"><i class="ri-delete-bin-line"></i></a>
                                    </form>
                                    </div>
                                </td>
                            </tr><tr role="row" class="odd">
                            <td class="sorting_1">3</td>
                                <td>
                                                                                <img src="https://mitul.ktgamez.com/images/avatar.png" class="img-fluid avatar-50" alt="om">
                                                                            </td>
                                <td>om</td>
                                <td>-</td>
                                <td>om@gmail.com</td>
                                <td>-</td>
                                <td><span class="badge iq-bg-success">Active</span></td>
                                <td>24-03-2022 15:01:24</td>
                                <td>
                                    <div class="flex align-items-center list-user-action">
                                    <form action="https://mitul.ktgamez.com/superadmin/user/6" method="POST" class="form-delete" style="display: inline;" id="delete_user_6">
                                            <input type="hidden" name="_token" value="cSP7Wf16AXALdbr7xSdv8frDV9RrVJqsnnLZ5Ez1">                                                    <input type="hidden" name="_method" value="DELETE">                                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="javascript:$('#delete_user_6').submit();"><i class="ri-delete-bin-line"></i></a>
                                    </form>
                                    </div>
                                </td>
                            </tr><tr role="row" class="even">
                            <td class="sorting_1">4</td>
                                <td>
                                                                                <img src="https://mitul.ktgamez.com/images/avatar.png" class="img-fluid avatar-50" alt="Parthvi">
                                                                            </td>
                                <td>Parthvi</td>
                                <td>-</td>
                                <td>parthvijingar1999@gmail.com</td>
                                <td>-</td>
                                <td><span class="badge iq-bg-success">Active</span></td>
                                <td>25-03-2022 10:52:26</td>
                                <td>
                                    <div class="flex align-items-center list-user-action">
                                    <form action="https://mitul.ktgamez.com/superadmin/user/8" method="POST" class="form-delete" style="display: inline;" id="delete_user_8">
                                            <input type="hidden" name="_token" value="cSP7Wf16AXALdbr7xSdv8frDV9RrVJqsnnLZ5Ez1">                                                    <input type="hidden" name="_method" value="DELETE">                                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="javascript:$('#delete_user_8').submit();"><i class="ri-delete-bin-line"></i></a>
                                    </form>
                                    </div>
                                </td>
                            </tr><tr role="row" class="odd">
                            <td class="sorting_1">5</td>
                                <td>
                                                                                <img src="https://mitul.ktgamez.com/images/avatar.png" class="img-fluid avatar-50" alt="Kiya">
                                                                            </td>
                                <td>Kiya</td>
                                <td>-</td>
                                <td>kiya@gmail.com</td>
                                <td>-</td>
                                <td><span class="badge iq-bg-success">Active</span></td>
                                <td>25-03-2022 14:37:12</td>
                                <td>
                                    <div class="flex align-items-center list-user-action">
                                    <form action="https://mitul.ktgamez.com/superadmin/user/9" method="POST" class="form-delete" style="display: inline;" id="delete_user_9">
                                            <input type="hidden" name="_token" value="cSP7Wf16AXALdbr7xSdv8frDV9RrVJqsnnLZ5Ez1">                                                    <input type="hidden" name="_method" value="DELETE">                                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="javascript:$('#delete_user_9').submit();"><i class="ri-delete-bin-line"></i></a>
                                    </form>
                                    </div>
                                </td>
                            </tr><tr role="row" class="even">
                            <td class="sorting_1">6</td>
                                <td>
                                                                                <img src="https://mitul.ktgamez.com/images/avatar.png" class="img-fluid avatar-50" alt="Parthvi">
                                                                            </td>
                                <td>Parthvi</td>
                                <td>-</td>
                                <td>parthvi@gmail.com</td>
                                <td>-</td>
                                <td><span class="badge iq-bg-success">Active</span></td>
                                <td>25-03-2022 15:09:48</td>
                                <td>
                                    <div class="flex align-items-center list-user-action">
                                    <form action="https://mitul.ktgamez.com/superadmin/user/10" method="POST" class="form-delete" style="display: inline;" id="delete_user_10">
                                            <input type="hidden" name="_token" value="cSP7Wf16AXALdbr7xSdv8frDV9RrVJqsnnLZ5Ez1">                                                    <input type="hidden" name="_method" value="DELETE">                                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="javascript:$('#delete_user_10').submit();"><i class="ri-delete-bin-line"></i></a>
                                    </form>
                                    </div>
                                </td>
                            </tr><tr role="row" class="odd">
                            <td class="sorting_1">7</td>
                                <td>
                                                                                <img src="https://lh3.googleusercontent.com/a/AATXAJwA02aLB5csYcAL9d_Di4RKduT_LK4OMahDAyTp=s96-c" class="img-fluid avatar-50" alt="Masud Reza">
                                                                            </td>
                                <td>Masud Reza</td>
                                <td>-</td>
                                <td>masud@girofintech.com</td>
                                <td>-</td>
                                <td><span class="badge iq-bg-success">Active</span></td>
                                <td>17-04-2022 22:56:09</td>
                                <td>
                                    <div class="flex align-items-center list-user-action">
                                    <form action="https://mitul.ktgamez.com/superadmin/user/16" method="POST" class="form-delete" style="display: inline;" id="delete_user_16">
                                            <input type="hidden" name="_token" value="cSP7Wf16AXALdbr7xSdv8frDV9RrVJqsnnLZ5Ez1">                                                    <input type="hidden" name="_method" value="DELETE">                                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="javascript:$('#delete_user_16').submit();"><i class="ri-delete-bin-line"></i></a>
                                    </form>
                                    </div>
                                </td>
                            </tr><tr role="row" class="even">
                            <td class="sorting_1">8</td>
                                <td>
                                                                                <img src="https://graph.facebook.com/v3.3/3252933424979111/picture?type=normal" class="img-fluid avatar-50" alt="Prince Makadiya">
                                                                            </td>
                                <td>Prince Makadiya</td>
                                <td>-</td>
                                <td>princemakadiya@yahoo.com</td>
                                <td>-</td>
                                <td><span class="badge iq-bg-success">Active</span></td>
                                <td>19-04-2022 16:13:58</td>
                                <td>
                                    <div class="flex align-items-center list-user-action">
                                    <form action="https://mitul.ktgamez.com/superadmin/user/21" method="POST" class="form-delete" style="display: inline;" id="delete_user_21">
                                            <input type="hidden" name="_token" value="cSP7Wf16AXALdbr7xSdv8frDV9RrVJqsnnLZ5Ez1">                                                    <input type="hidden" name="_method" value="DELETE">                                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="javascript:$('#delete_user_21').submit();"><i class="ri-delete-bin-line"></i></a>
                                    </form>
                                    </div>
                                </td>
                            </tr><tr role="row" class="odd">
                            <td class="sorting_1">9</td>
                                <td>
                                                                                <img src="https://mitul.ktgamez.com/images/avatar.png" class="img-fluid avatar-50" alt="Ronak">
                                                                            </td>
                                <td>Ronak</td>
                                <td>-</td>
                                <td>garalaronak1908@gmail.com</td>
                                <td>-</td>
                                <td><span class="badge iq-bg-success">Active</span></td>
                                <td>19-04-2022 18:12:27</td>
                                <td>
                                    <div class="flex align-items-center list-user-action">
                                    <form action="https://mitul.ktgamez.com/superadmin/user/22" method="POST" class="form-delete" style="display: inline;" id="delete_user_22">
                                            <input type="hidden" name="_token" value="cSP7Wf16AXALdbr7xSdv8frDV9RrVJqsnnLZ5Ez1">                                                    <input type="hidden" name="_method" value="DELETE">                                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="javascript:$('#delete_user_22').submit();"><i class="ri-delete-bin-line"></i></a>
                                    </form>
                                    </div>
                                </td>
                            </tr><tr role="row" class="even">
                            <td class="sorting_1">10</td>
                                <td>
                                                                                <img src="https://mitul.ktgamez.com/images/avatar.png" class="img-fluid avatar-50" alt="Masud reza">
                                                                            </td>
                                <td>Masud reza</td>
                                <td>-</td>
                                <td>mitappinventor253@gmail.com</td>
                                <td>-</td>
                                <td><span class="badge iq-bg-success">Active</span></td>
                                <td>20-04-2022 18:21:39</td>
                                <td>
                                    <div class="flex align-items-center list-user-action">
                                    <form action="https://mitul.ktgamez.com/superadmin/user/26" method="POST" class="form-delete" style="display: inline;" id="delete_user_26">
                                            <input type="hidden" name="_token" value="cSP7Wf16AXALdbr7xSdv8frDV9RrVJqsnnLZ5Ez1">                                                    <input type="hidden" name="_method" value="DELETE">                                                <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="javascript:$('#delete_user_26').submit();"><i class="ri-delete-bin-line"></i></a>
                                    </form>
                                    </div>
                                </td>
                            </tr></tbody>
                    </table>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
<%- include("footer") -%>