<%- include("header") -%>
<div id="content-page" class="content-page">
    <div class="container-fluid">
       <div class="row">
          <div class="col-sm-12">
             <div class="iq-card">
                <div class="iq-card-header d-flex justify-content-between">
                   <div class="iq-header-title">
                      <h4 class="card-title">Game Genre List</h4>
                   </div>
                   <div class="iq-card-header-toolbar d-flex align-items-center">
                      <a href="add-category.html" class="btn btn-primary">Add Game Genre</a>
                   </div>
                </div>
                <div class="iq-card-body">
                   <div class="table-view">
                     <table class="data-tables table genre_table  dataTable no-footer" style="width: 100%;" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                        <thead>
                            <tr role="row"><th style="width: 52px;" class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="No: activate to sort column descending">No</th><th style="width: 149px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Genre Name: activate to sort column ascending">Genre Name</th><th style="width: 343px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Genre Description: activate to sort column ascending">Genre Description</th><th style="width: 52px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Genre Status: activate to sort column ascending">Genre Status</th><th style="width: 149px;" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">Action</th></tr>
                        </thead>
                        <tbody>

                                                                
                                                                
                                                                
                                                                
                                                                
                            
                        <tr role="row" class="odd">
                                <td class="sorting_1">1</td>
                                <td>Action</td>
                                <td>
                                    <p>Action Description
                                    </p>
                                </td>
                                <td>Active</td>

                                <td>
                                    <div class="flex align-items-center list-user-action">

                                        <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="https://mitul.ktgamez.com/superadmin/genre/1/edit"><i class="ri-pencil-line"></i></a>
                                        <form action="https://mitul.ktgamez.com/superadmin/genre/1" method="POST" class="form-delete" style="display: inline;" id="delete_genre_1">
                                            <input type="hidden" name="_token" value="cSP7Wf16AXALdbr7xSdv8frDV9RrVJqsnnLZ5Ez1">                                                    <input type="hidden" name="_method" value="DELETE">                                                    <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="javascript:$('#delete_genre_1').submit();"><i class="ri-delete-bin-line"></i></a>
                                        </form>
                                    </div>
                                </td>
                            </tr><tr role="row" class="even">
                                <td class="sorting_1">2</td>
                                <td>Educational</td>
                                <td>
                                    <p>Education Description
                                    </p>
                                </td>
                                <td>Active</td>

                                <td>
                                    <div class="flex align-items-center list-user-action">

                                        <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="https://mitul.ktgamez.com/superadmin/genre/2/edit"><i class="ri-pencil-line"></i></a>
                                        <form action="https://mitul.ktgamez.com/superadmin/genre/2" method="POST" class="form-delete" style="display: inline;" id="delete_genre_2">
                                            <input type="hidden" name="_token" value="cSP7Wf16AXALdbr7xSdv8frDV9RrVJqsnnLZ5Ez1">                                                    <input type="hidden" name="_method" value="DELETE">                                                    <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="javascript:$('#delete_genre_2').submit();"><i class="ri-delete-bin-line"></i></a>
                                        </form>
                                    </div>
                                </td>
                            </tr><tr role="row" class="odd">
                                <td class="sorting_1">3</td>
                                <td>Arcade</td>
                                <td>
                                    <p>Arcade Description
                                    </p>
                                </td>
                                <td>Active</td>

                                <td>
                                    <div class="flex align-items-center list-user-action">

                                        <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="https://mitul.ktgamez.com/superadmin/genre/3/edit"><i class="ri-pencil-line"></i></a>
                                        <form action="https://mitul.ktgamez.com/superadmin/genre/3" method="POST" class="form-delete" style="display: inline;" id="delete_genre_3">
                                            <input type="hidden" name="_token" value="cSP7Wf16AXALdbr7xSdv8frDV9RrVJqsnnLZ5Ez1">                                                    <input type="hidden" name="_method" value="DELETE">                                                    <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="javascript:$('#delete_genre_3').submit();"><i class="ri-delete-bin-line"></i></a>
                                        </form>
                                    </div>
                                </td>
                            </tr><tr role="row" class="even">
                                <td class="sorting_1">4</td>
                                <td>Sports &amp; Racing</td>
                                <td>
                                    <p>Sports &amp; Racing Description
                                    </p>
                                </td>
                                <td>Active</td>

                                <td>
                                    <div class="flex align-items-center list-user-action">

                                        <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="https://mitul.ktgamez.com/superadmin/genre/4/edit"><i class="ri-pencil-line"></i></a>
                                        <form action="https://mitul.ktgamez.com/superadmin/genre/4" method="POST" class="form-delete" style="display: inline;" id="delete_genre_4">
                                            <input type="hidden" name="_token" value="cSP7Wf16AXALdbr7xSdv8frDV9RrVJqsnnLZ5Ez1">                                                    <input type="hidden" name="_method" value="DELETE">                                                    <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="javascript:$('#delete_genre_4').submit();"><i class="ri-delete-bin-line"></i></a>
                                        </form>
                                    </div>
                                </td>
                            </tr><tr role="row" class="odd">
                                <td class="sorting_1">5</td>
                                <td>Puzzle</td>
                                <td>
                                    <p>Puzzle Description
                                    </p>
                                </td>
                                <td>Active</td>

                                <td>
                                    <div class="flex align-items-center list-user-action">

                                        <a class="iq-bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="https://mitul.ktgamez.com/superadmin/genre/5/edit"><i class="ri-pencil-line"></i></a>
                                        <form action="https://mitul.ktgamez.com/superadmin/genre/5" method="POST" class="form-delete" style="display: inline;" id="delete_genre_5">
                                            <input type="hidden" name="_token" value="cSP7Wf16AXALdbr7xSdv8frDV9RrVJqsnnLZ5Ez1">                                                    <input type="hidden" name="_method" value="DELETE">                                                    <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="javascript:$('#delete_genre_5').submit();"><i class="ri-delete-bin-line"></i></a>
                                        </form>
                                    </div>
                                </td>
                            </tr></tbody>
                    </table>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
<%- include("footer") -%>